* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font: sans-serif;
    --background: 255, 250, 240;
    --background900: 255, 215, 0;
    --text: 0, 0, 0;
    --text-contrast: 255, 255, 255;
    --primary: 255, 69, 0;
    --primary-shadow: 184, 28, 0;
    --accent: 30, 144, 255;
}

ul {
    list-style: none;
}

.menu {
    position: absolute;
    top: 1rem;
    left: 1rem;

    ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1.25rem;
    }
}


button {
    border: none;
    background: rgb(var(--primary));
    border-bottom: 4px solid rgb(var(--primary-shadow));
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    transition: 400ms;
    height: 2.5rem;

    &:hover {
        transform: translateY(4px);
        border-bottom: 0px solid rgb(var(--primary-shadow));
    }
}

body,
html {
    background: rgb(var(--background));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game {
    background: rgb(var(--background900));
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: grid;

    .card {
        width: 100%;
        height: 100%;

        &.flipped .card-inner {
            transform: rotateY(-180deg);
        }

        .card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
        }

        .card-inner,
        .card-front,
        .card-back {
            pointer-events: none;
        }

        .card-front,
        .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-front {
            background-color: rgb(var(--background));

            img {
                width: 50%;
            }
        }

        .card-back {
            transform: rotateY(180deg);

            img {
                width: inherit;
                height: inherit;
            }
        }
    }
}

.library {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(var(--background900), .6);
    opacity: 0%;
    pointer-events: none;
    transition: 300ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        pointer-events: all;
        opacity: 100%;
    }
}

.library_window {
    background: rgb(var(--background));
    display: flex;
    flex-direction: row;
    height: 30rem;
}

#library_close_button {
    margin-bottom: 2.5rem;
}

.library_menu {
    height: 100%;
    padding: 1rem 0.5rem;
    border-right: 2px solid rgb(var(--background900));

    ul button {
        display: flex;
        align-items: start;
        transition: 400ms;
        border: none;
        width: 100%;
        color: rgb(var(--text));
        padding: 0.5rem;
        background: none;
        height: auto;

        &:hover {
            transform: none;
            color: rgb(var(--accent));
        }
    }

    ul button.active {
        color: rgb(var(--text-contrast));
        background: rgb(var(--accent), .8);
        padding: 0.5rem;
    }
}

.library_view {
    height: 100%;
    background: rgb(var(--background));
    width: 50rem;
    display: flex;
}

.library_view.overview {
    flex-direction: row;

    & > ul {
        width: 100%;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        grid-auto-rows: 8rem;
        padding: 1rem;
        gap: 0.5rem;

        li {
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
        }

        li.active {
            background: rgb(var(--accent));
        }

        li img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    & > div {
        width: 30rem;
        background: rgb(var(--background900));
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.library_view.upload {
    flex-direction: column;
    padding: 1rem;

    h2 {
        font-family: var(--font);
        text-transform: uppercase;
    }

    & > ul {
        height: 30rem;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        gap: 0.2rem;
    }

    & > ul li {
        width: 100%;
        display: flex;
        padding: 0.5rem;
        background: rgb(var(--background900));

        button {
            margin-left: auto;
        }

        .name, .size {
            font-family: var(--font);
        }

        .name {
            font-size: 1em;
        }

        .size {
            font-size: 0.8em;
            font-style: italic;
        }
    }

    & > button {
        height: 2.5rem;
        margin-top: 0.5rem;
    }

    .upload_wrapper {
        height: 100%;
        width: 100%;
        border: 2px dashed rgb(var(--primary));
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 1rem;

        img {
            width: 3rem;
        }

        p {
            font-family: var(--font);
        }

        u {
            color: rgb(var(--primary));
        }

        input {
            height: inherit;
            width: inherit;
            position: absolute;
            opacity: 0;
        }
    }
}

@media screen and (max-width: 676px) {
    .library_view.overview {
        flex-direction: column;

        & > div {
            width: 100%;
            max-height: 10rem;
            flex-direction: row;
            margin-top: auto;
            display: none;
        }
    }

    .library_menu {
        height: 100%;
        padding: 1rem 0.5rem;
    
        button {
            height: fit-content;
        }
    }
    
    .library_view {
        height: 100%;
        background: rgb(var(--background));
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}